# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs

# Sphinx documentation
docs/_build/
docs/_output/

# Testing
.cache
.hypothesis_cache
.mypy_cache
.pytest_cache
.tox
.pytype

# Temporary files
tmp/

venv/
.venv/
